name: Tests
on: [push]
jobs:
  ubuntu-latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Install dependencies
        run: sudo apt-get install -y valgrind
      - name: Build and test
        run: |
          cat /etc/os-release
          make test
      - name: Memory check
        run: make valgrind

  macos-latest:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@master
      - name: Build and test
        run: |
          uname -a
          make test

  macos-xhyve-bsd:  # arm64 not supported on xhyve
    runs-on: macos-latest
    strategy:
      matrix:
        os:
          - name: freebsd
            architecture: x86-64
            version: '14.0'

          - name: openbsd
            architecture: x86-64
            version: '7.4'

          - name: netbsd
            architecture: x86-64
            version: '9.3'

    steps:
      - uses: actions/checkout@v4

      - name: Test on ${{ matrix.os.name }} ${{ matrix.os.architecture }}
        uses: cross-platform-actions/action@v0.23.0
        with:
          operating_system: ${{ matrix.os.name }}
          architecture: ${{ matrix.os.architecture }}
          version: ${{ matrix.os.version }}
          run: |
            uname -a
            make test

  ubuntu-qemu-alpine:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - arch: x86_64
          - arch: aarch64
          - arch: armhf
          - arch: armv7
          - arch: ppc64le
          - arch: s390x

    steps:
      - uses: actions/checkout@master
      - name: Setup Alpine Linux for ${{ matrix.os.arch }}
        uses: jirutka/setup-alpine@v1
        with:
          arch: ${{ matrix.os.arch }}
          packages: >
            build-base
          shell-name: alpine.sh
      - name: Build and test on Alpine ${{ matrix.os.arch }}
        run: |
          cat /etc/alpine-release
          make test
        shell: alpine.sh {0}

  ubuntu-qemu-bsd:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - name: openbsd
            architecture: arm64
            version: '7.4'

    steps:
      - uses: actions/checkout@v4

      - name: Test on ${{ matrix.os.name }}
        uses: cross-platform-actions/action@v0.23.0
        with:
          operating_system: ${{ matrix.os.name }}
          architecture: ${{ matrix.os.architecture }}
          version: ${{ matrix.os.version }}
          run: |
            uname -a
            make test

  windows-latest-msvc:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@master
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64
      - name: Build and test on Windows x64
        run: |
          nmake /nologo /f Makefile.msvc test
